PORT=3000
NODE_ENV=development

APP_BASE_URL=https://xxxxxxyyyyids.com
SUCCESS_URL=https://xxxxxxyyyyids.com
CANCEL_URL=https://xxxxxxyyyyids.com

DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME

STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

OPENAI_API_KEY=sk-xxxxxxx
OPENAI_MODEL=gpt-4.1-mini

RESEND_API_KEY=sk-xxxxxxxxx
RESEND_FROM_EMAIL=NeuroMap Kids <noreply@yourdomain.com>